.aider*
.env
builds/
.idea
.phpunit.result.cache

# Ignore all generated asset directories in plugins
src/Resources/public/administration/assets
src/Resources/public/storefront/assets
.vite
node_modules

repomix-output.txt

